<mat-grid-list cols="2" rowHeight="3:1">
  <div class="main-label">
    <span>{{hour}}</span>
  </div>
  <mat-grid-tile>
    <div class="tile-content">
      <span class="label">Temperature</span>
      <span class="value">{{weatherData.main.temp  | number:'1.0-0'}} °C</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="tile-content">
      <span class="label">Wind speed</span>
      <span class="value">{{weatherData.wind.speed}} m/sec</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="forecast && forecast.hourly.length">
  <app-hourly-forecast-list [timezoneOffset]="forecast.timezone_offset" [hourlyForecast]="forecast.hourly"></app-hourly-forecast-list>
</div>
